<main class="how-is-made-big-container" id="how-its-made">
  <div class="how-is-made-container">
    <h3 class="tradition">tradition and love</h3>
    <h2 class="how-is-made-title">how it&rsquo;s made?</h2>
    <div class="how-is-made-content">
      <picture>
        <source
          srcset="
            ./images/how-is-made-cow-d.webp,
            ./images/how-is-made-cow-d-2x.webp
          "
          media="(min-width: 1280px)"
        >
        <source
          srcset="
            ./images/how-is-made-cow-t.webp,
            ./images/how-is-made-cow-t-2x.webp
          "
          media="(min-width: 768px)"
        >
        <source
          srcset="
            ./images/how-is-made-cow-m.webp,
            ./images/how-is-made-cow-m-2x.webp
          "
          media="(max-width: 320px)"
        >
        <img
          class="how-is-made-img"
          src="./images/how-is-made-cow-m.webp"
          alt="the cow and milk"
       
        >
      </picture>
      <div class="how-its-made-description">
        <p class="descripton-place">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts
        </p>
        <p class="descripton-ingrdients">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <a
          href="https://en.wikipedia.org/wiki/Ice_cream"
          class="how-is-made-btn"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="How it's made"
        >
          <span class="how-its-made-btn-text">Read more</span>
          <svg class="buy-now-vector">
            <use href="./images/icons.svg#icon-buy-now-vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>
